/*A lot of the same here too*/

html{
    height: 100%;
}

body{
    background-color: #010B12;
    font-family: Helvetica;
    height: max-content;
    max-height: 100%;
    max-width: 60%;
    margin: 0 auto;
}

main {
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigger{
    display: inline-block;
    font-size: min(max(4vw), 40px);
    color: #d7dadd;
}

.bigger::first-letter {
    font-size: min(max(5vw), 50px);
}

#player-turn{
    margin-top: 1.5vh;
    text-align: center;
    font-size: min(max(2.5vw), 25px);
    color: #d7dadd;
}

#final-category{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:8vh;
    height:6vh;
    width:60%;
    font-size: 1.5vmax;
    background-color: #031524;
    outline: 2px solid #1B5176;
    color:#c7d9ec;
    border-radius: 0.5px;
}


#final-question{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1em auto 1em auto;
    height:15vh;
    width:60%;
    font-size: 1.5vmax;
    color: #d7dadd;
    outline:2px solid #1B5176;
    border-radius: 0.5px;
}

input{
    display:block;
    margin-top: 2.5vh;
    padding: 1vh 2vw;
    font-size: min(max(1.8vw), 18px);
}

#button{
    display:flex;
    justify-content: center;
}

button{
    color:#d7dadd;
    background-color: #1B5176;
    border: none;
    border-radius: 2px;
    margin: 2vh 0.4em 0;
    font-size: min(max(2.5vw), 25px);
    padding: 0.4em 0.8em;
    letter-spacing: 0.1em;
}

button:hover {
    color:#010B12;
    background-color: #5EBDF3;
}

#rotate-phone {
    display:none;
}

@media screen and (max-width: 500px) {
    main{
        display:none;
    }
    #rotate-phone {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color:#d7dadd;
    }
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom:1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vh;
    color:#010B12;
    padding: 0.8vh;
    width:40%;
    background-color: #1B5176;
}