/* Not sure why but height:100% was necessary 
to be able to use the full length of the page */
html{
    height: 100%;
}

/*General settings for the whole page,
I found that in general a wrapping width of 80% with some auto left-right
margin, is more comfortable to the eye */
body{
    background-color: #010B12;
    font-family: Helvetica;
    max-height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

/* a flex box with everything centered for the title, image, and play button*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 80%;
    position: absolute;
    line-height: min(max(7vw), 70px); 
    /*I found that vmax, vh and vw were good friends for responsiveness!
    I have them throughout the project.
    But I also noticed things can get disproportionately huge on high resolution screens - 
    I saw online that this min max function is a solution to help clamp the 
    maximum size things can get*/
}

/*Title color*/
#title{
    color: #d7dadd;
}

/* I wanted the first line of the title to
be a little pushed to the right */
.title-first-line{
    margin-left: min(max(5vw), 50px);
    word-spacing: 0.5vw;
    font-size: min(max(4vw), 40px);
}

/*And the first letter, bigger - achieved with with this pseudoelement */
.title-first-line::first-letter {
    font-size: min(max(6vw), 60px);
}

/*I needed the numbers to be slightly smaller and slightly pushed to the right*/
/*Also I needed all the diferent section
of the title to not go to a new line, but be inline...*/
.num{
    display: inline-block;
    font-size: min(max(5vw), 50px);
    margin-left: 0.5vmax; 
}

/*The dot of 2.0 is a different color and bigger*/
.dot{
    display: inline-block;
    font-size: min(max(8vmax), 80px);
    color: #1B5176;
}


/* I am not responsible for this title animation, I found it online.
I tried to tinker with it a bit though */
.noFlip{
    display: inline-block;
    font-size: min(max(9vw), 90px);
}

.flip span {
    display: inline-block;
    font-size: min(max(6vw), 60px);
    color: #d7dadd;
    animation: flip 12s infinite;
    animation-delay: calc(.45s * var(--i));
}

@keyframes flip {
    20%, 40% {
        color:#1B5176;
        transform: rotateY(360deg);
    }
    80%, 100% {
        color:#d7dadd;
        transform: rotateY(360deg);
    }
}

/*We want the image to be an aceptable size*/
img {
    margin-top: 4vh;
    max-width:55vw;
    max-height:35vh;
    opacity: 0.8; /*The image blends a little with the background thanks to this*/
}

button{
    color:#d7dadd;
    background-color: #1B5176;
    border: none;
    border-radius: 2px;
    margin-top: 3vh; /*I've been using margin-top a lot to separate elements and for them to not be 
    glued to each other, I reckon a better way would be to use the flexbox with height? I'll work on that */
    font-size: min(max(2vmax), 20px);
    font-weight: 550;
    padding: 0.4em 0.8em;
    letter-spacing: 0.1em;
}

/*Button changes color when hovered on*/
button:hover {
    color:#010B12;
    background-color: #5EBDF3;
}

/*footer style - I struggled to have it stay at the bottom...
I found that position absolute with different left, right, bottom attributes
finally did the trick*/
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom:2.5vh;
    margin-left: auto;
    margin-right: auto; 
    padding: 0.8vh;
    text-align: center;
    font-size: 2vh;
    color:#010B12;
    background-color: #1B5176;
}

/* Different color for the links in the footer */
footer a{
    color:#5EBDF3;
    text-decoration: none;
}



