/* *{
    border: 0.5px solid red;
} */

html{
    height: 100%;
}

body{
    background-color: #010B12;
    font-family: Hack, sans-serif;
    height: max-content;
    max-height: 100%;
    max-width: 60%;
    margin: 0 auto;
}

main {
    margin:15% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigger{
    margin-left: 0.8em;
    display: inline-block;
    font-size: 3em;
    color: #fff;
}

.smaller{
    display: inline-block;
    font-size: 2.5em;
    color: #fff;
}

.noFlip{
    display: inline-block;
    font-size: 5em;
    color: #ffffff;
}

.num{
    display: inline-block;
    font-size: 3.5em;
    color: #ffffff;
    margin: 0 0 0 0.5em; 
}

.waviy span {
    display: inline-block;
    font-size: 3.5em;
    color: #ffffff;
    animation: flip 6s infinite;
    animation-delay: calc(.45s * var(--i));
}

.color{
    display: inline-block;
    font-size: 1.5em;
    color: #6CBCD6;
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg);
    }
}

img {
    max-width: 50%;
    margin: 2em auto;
    opacity: 0.8;
}

button{
    color:#ffffff;
    background-color: #1B5176;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    font-weight: 550;
    padding: 0.4em 0.8em;
    letter-spacing: 0.1em;
}

button:hover {
    color:#010B12;
    background-color: #5EBDF3;
}

footer{
    position:fixed;
    bottom: 2%;
    width:60%;
    background-color: #1B5176;
}

p{
    padding:0.5em;
}


