/*A copy paste of round1.css really*/

html{
    height: 100%;
}

body{
    background-color: #010B12;
    font-family: Helvetica;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

main {
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    line-height: 200%;
    margin:3vh auto 0 auto;
}

.bigger{
    display: inline-block;
    font-size: 2.5vw;
    color: #d7dadd;
}

.bigger::first-letter {
    font-size: 3.5vw;
}

#player-turn{
    text-align: center;
    font-size: 2vmax;
    color: #d7dadd;
}

#grid {
    display:grid;
    text-align: center;
    margin-top: 2vh;
    color:#d7dadd;
    grid-template-columns: repeat(6, minmax(15%, 1fr));
    gap: 1.5vmax 1.5vmax;
    font-size: 1.5vmax;
    
}

.grid-category, .grid-item {
    outline: 0.3vmax solid #1B5176;
    padding: 0.2vw 1vw;
}

.grid-category{
    padding: 1.5vw 1vw;
}

input{
    display:block;
    margin: 3vh auto 0 auto;
    padding: 1vh 2vw;
    font-size: 1.5vmax;
}

#buttons-score{
    display:flex;
    justify-content: center;
}

button{
    color:#d7dadd;
    background-color: #1B5176;
    border: none;
    border-radius: 2px;
    margin: 2vh 0.4em 0;
    font-size: 1em;
    padding: 0.4em 0.8em;
    letter-spacing: 0.1em;
}

button:hover {
    color:#010B12;
    background-color: #5EBDF3;
}

span{
    color: #d7dadd;
    margin-left: 10vw;
    margin-right: 10vw;
}

#next-page{
    position: absolute;
    bottom:10%;
    right:10%;
}

#rotate-phone {
    display:none;
}

@media screen and (max-width: 500px) {
    main{
        display:none;
    }
    #rotate-phone {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color:#d7dadd;
    }
}

footer{
    text-align: center;
    color:#010B12;
    position: absolute;
    font-size: 2vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:1vh;
    padding: 0.8vh;
    width:40%;
    background-color: #1B5176;
}
