/* Not sure why but height:100% was necessary 
to be able to use the full length of the page */
html{
    height: 100%;
}

/*General settings for the whole page,
Here we use the full width of the page to give plenty of space for the grid*/
body{
    background-color: #010B12;
    font-family: Helvetica;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* a flex box with all the content on the page centered on a column axis*/
main {
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*header style*/
header{
    text-align: center;
    line-height: 200%;
    margin:3vh auto 0 auto;
    color: #d7dadd;
}

/*"bigger" font for title - current round number*/
.title{
    font-size: min(max(3.5vw), 40px);
}

/*smaller font for subtitle - whose player turn it is*/
.subtitle {
    margin-top: 2.5vh;
    font-size: min(max(2.3vw), 25px);
    
}

/*Jeopardy grid, you say? lemme use a grid layout*/
#grid {
    display:grid;
    text-align: center;
    margin-top: 4vh;
    width:80%;
    grid-template-columns: repeat(6, minmax(15%, 1fr)); /*I used 15% because 100%/6 ≈ 15%, 
    I tried different things but I wasn't sure 
    how else to have it be 6 columns that responsively fit in the whole width...*/
    gap: 1vmax 1vmax;
    font-size: 1.3vmax;
}

/*Styling for the grid with the category names, slightly different and bigger*/
.grid-category {
    font-size: 1.2vw;
    background-color: #031524;
    outline: 2px solid #1B5176;
    color:#c7d9ec;
    border-radius: 0.5px;
    padding: 1.5vw 1vw;
}

/*Styling for each grid items*/
.grid-item {
    outline: 2.5px solid #031524;
    border-radius: 0.5px;
    padding: 0.4em;
}

/*Styling changes when grid are hovered on*/
.grid-item:hover {
    background-color: #0a1c2b;
    cursor: pointer;
}


/*Styling changes when grid is "grayed out" after use*/
.grid-grayout{
    background-color: rgb(35, 28, 43);
    pointer-events: none;
}

/*Gradient for the 100 to 500 boxes*/
.one {
    color:#808385;
}

.two {
    color:#576e80;
}

.three {
    color:#41647e;
}

.four {
    color:#2b5979;
}

.five {
    color:#1B5176;
}

/*Margin, font-size and color definition for the display of scores*/
#player-scores{
    margin: 3vh;
    font-size: min(max(1.8vw), 18px);
    color: #d7dadd;
}

/*Trying to have the two score display separated enough on the page*/
span{
    margin-left: 13vw;
    margin-right: 13vw;
}


/*So the grid was very squished on portrait mode on a phone so, this system makes everything disapear
and asks the user to rotate his phone - I found that a width<500px should capture most scenarios*/

#rotate-phone { /*If the screen is wide enough, the prompt to rotate the phone doesn't appear*/
    display:none;
}

@media screen and (max-width: 500px) {
    main, header{
        display:none; /*If the screen isn't wide enough, 
        everything disapear exept for the prompt to rotate the phone*/
    }
    #rotate-phone { 
        display: block;
        position: absolute;
        color:#d7dadd;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /*Found online that this was a way
        to center something vertically and horizontaly - looks over-complicated for something so simple
        but it works*/
        text-align: center; 
    }
}

/*******This is the styling and properties for an overlay that covers the whole screen and shows a popup box
for each question. This was cleaner than having each grid's text change because of lack of space.
This wasn't what the instructions called for, but I hope that's ok! - 
Also, I got plenty of help from google too for this*******/

/*An overlay that covers and "dims" the whole viewport */
#overlay {
    position: fixed;
    top: 0;
    bottom: 0; /*The overlay covers the whole screen with TBLR properties of 0 and a position: fixed*/
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); /*A black color with an opacitity setting creates a "dim" effect */
    transition: opacity 500ms; 
    display: none; /*Display is set to none. But is changed to appear by javascript when needed*/
}

/*This is a wrapper for the popup box*/
#popup {
    margin: 30vh auto;
    width: 60%;
    color:#d7dadd;
}

/*Styling for the question popup box*/
#popup-box{
    background:#031524;
    outline: 2px solid #1B5176;
    border-radius: 0.5rem;
    padding: 1em;
}

/*Styling for the header text of the popup box*/
#popup h2 {
    margin-top: 0;
    font-size: min(max(2vw), 20px);
    color: #d7dadd;
}

/*Styling for the text content of the popup box*/
#popup-content{
    font-style: italic;
    font-size: min(max(1.8vw), 20px);
    margin-left:5vw;
}

/*Styling and display properties for the input form*/
input{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 4vh auto 0 auto;
    padding: 1vh 2vw;
    font-size: min(max(2vw), 20px);
}

/*Display properties for the Submit and Pass buttons*/
#buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Styling for the Submit and Pass buttons*/
button{
    color:#d7dadd;
    background-color: #1B5176;
    border: none;
    border-radius: 2px;
    margin: 2vh 0.4em;
    font-size: min(max(2vw), 20px);
    padding: 0.4em 0.8em;
    letter-spacing: 0.1em;
}

/*Buttons change color when hovered on*/
button:hover {
    color:#010B12;
    background-color: #5EBDF3;
}

/*Buttons change color when disabled 
and pointer doesn't change when disabled button is hovered on*/
button:disabled {
    opacity:0.5;
    pointer-events: none;
}

/*Style for text that notifies if an answer is correct or not*/
#answer-correct{
text-align: center;
margin: 2vh auto;
}

/*footer style - I struggled to have it stay at the bottom...
I found that position absolute with different left, right, bottom attributes
finally did the trick*/
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom:1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vh;
    color:#010B12;
    padding: 0.8vh;
    width:40%;
    background-color: #1B5176;
}