/* *{
    border: 0.5px solid red;
} */

html{
    height: 100%;
}

body{
    background-color: #010B12;
    font-family: Hack, sans-serif;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

main {
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    line-height: 200%;
    margin:3vh;
}
.bigger{
    display: inline-block;
    font-size: 2.5vmax;
    color: #fff;

}

.bigger::first-letter {
    font-size: 3.5vmax;
}

#player-turn{
    text-align: center;
    font-size: 2vmax;
    color: #ffffff;
}

#grid {
    display:grid;
    text-align: center;
    margin-top: 1.5vh;
    color:#ffffff;
    grid-template-columns: repeat(6, minmax(15%, 1fr));
    gap: 1.5vmax 1.5vmax;
    font-size: 1.5vmax;
    
}

.grid-category, .grid-item {
    outline: 0.3vmax solid #1B5176;
    padding: 0.2vw 1vw;
}


input{
    display:block;
    margin: 3vh auto 0 auto;
    padding: 1vh 2vw;
    font-size: 1.5vmax;
}

#buttons{
    display:flex;
    justify-content: center;
}

button{
    color:#ffffff;
    background-color: #1B5176;
    border: none;
    border-radius: 2px;
    margin: 2vh 0.4em 0;
    font-size: 1em;
    padding: 0.4em 0.8em;
    letter-spacing: 0.1em;
}

button:hover {
    color:#010B12;
    background-color: #5EBDF3;
}

#score{
    display:flex;
    justify-content: space-between;
    margin-top: 5vh;
    color: #ffffff;
}

span{
    margin-left: 10vw;
    margin-right: 10vw;
}

#next-page{
    margin-left:60%;
}

footer{
    text-align: center;
    color:#010B12;
    position: absolute;
    font-size: 2vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:1vh;
    padding: 0.8vh;
    width:40%;
    background-color: #1B5176;
}
